.App > * {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

header {
    margin-bottom: 10px;
}

center {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 2rem;
}

p, ol {
    margin-bottom: 15px;
}

.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.leading_tab {
    padding-left: 2rem;
}

.ext_image {
    max-width: unset;
    display: flex;
    justify-content: center;
}